.heading-container {
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
  .subheading {
  }

  .heading {
    color: rgba(113, 99, 186, 255);
  }
}

.content {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
  .feat-img {
  }
}

.side-list-container {
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
  .heading {
    margin: 0;
    font-weight: 600;
  }

  .related-post-card {
    height: 5rem;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin: 1rem 0;
    cursor: pointer;

    .content-sml {
      background: none;
    }

    img {
      height: 100%;
      width: 40%;
      margin-right: 0.5rem;
    }
    p {
      margin: 0;
    }

    .title {
      font-size: 0.8rem;
    }

    .author {
      font-size: small;
    }
  }
}
