.content-container {
  position: relative;
  background-color: #ebe9e9;
  width: 100%;
  padding: 1rem;
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;

    img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      border-radius: 50%;
    }
    .header-title {
      color: rgba(113, 99, 186, 255);
      span {
      }
      h2 {
      }
    }

    .user-info {
      display: flex;
      align-items: center;
      gap: 1rem;

      .search-box {
        background: rgba(237, 237, 237);
        border-radius: 15px;
        color: rgba(113, 99, 186, 255);
        display: flex;
        align-items: center;
        padding: 4px 12px;
        gap: 5px;
        input {
          background: transparent;
          padding: 10px;
          border: none;
        }

        svg {
          font-size: 1.2rem;
          cursor: pointer;
          transition: all 0.5s ease-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  .card-container {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;

    .main-title {
      color: rgba(113, 99, 186, 255);
      padding-bottom: 10px;
      font-size: 15px;
    }

    .card-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .article-card,
      .page-card,
      .edition-card {
        border-radius: 10px;
        padding: 1.2rem;
        width: 30%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.5s ease-in-out;

        &:hover {
          transform: translateY(-5px);
        }

        .card-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 20px;

          .total {
            display: flex;
            flex-direction: column;

            .title {
              font-size: 12px;
              font-weight: 200;
            }

            .count {
              font-size: 24px;
            }
          }

          .icon-container {
            color: #fff;
            padding: 1rem;
            height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
          }
        }

        .card-details {
          font-size: 18px;
          color: #777;
          letter-spacing: 2px;
        }
      }
    }
  }

  .table-wrapper {
    background: #fff;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem;

    .heading {
      color: rgba(113, 99, 186, 255);
      padding-bottom: 10px;
      font-size: 15px;
    }

    .table-container {
      width: 100%;

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          background: rgba(113, 99, 186, 255);
          color: #fff;

          th {
            padding: 15px;
            text-align: left;
          }
        }

        tbody {
          background: #f2f2f2;

          td {
            padding: 15px;
            font-size: 14px;
            color: #333;
          }

          tr {
            &:nth-child(even) {
              background: #fff;
            }
          }

          tfoot {
            background: rgba(113, 99, 186, 255);
            font-weight: bold;
            color: #fff;

            td {
              padding: 15px;
            }
          }
        }
      }
    }
  }
}
