/* Colors CSS */

.light-red {
  background-color: rgba(251, 233, 233);
}

.light-purple {
  background-color: rgba(254, 226, 254);
}

.light-green {
  background-color: rgba(235, 254, 235);
}

.light-blue {
  background-color: rgba(236, 236, 254);
}

.dark-red {
  background-color: #c10;
}

.dark-purple {
  background-color: purple;
}

.dark-green {
  background-color: green;
}

.dark-blue {
  background-color: blue;
}
