.content-card {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  .content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .content {
      display: flex;
      flex-direction: column;
      align-items: end;

      .count {
        font-size: 40px;
      }
    }
    svg {
      font-size: 80px;
    }
  }
}

.article-content-card {
  position: relative;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;
  border-radius: 5px;

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  .pub-status {
    font-weight: 700;

    .status {
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}
