body {
  background-color: #f3f5f7;
}

.dashboard-container {
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background: rgba(113, 99, 186, 255) !important;
    color: #fff;

    th {
      padding: 15px;
      text-align: left;
    }
  }

  tbody {
    background: #f2f2f2;

    td {
      padding: 15px;
      font-size: 14px;
      color: #333;
    }

    tr {
      &:nth-child(even) {
        background: #fff;
      }
    }

    tfoot {
      background: rgba(113, 99, 186, 255);
      font-weight: bold;
      color: #fff;

      td {
        padding: 15px;
      }
    }
  }
}
