@import './scss/main.scss';
@import './scss/base/variables.scss';
@import './scss/components/sidebarmenu.scss';
@import './scss/components/content-card.scss';
@import './scss/pages/homescreen.scss';
@import './scss/pages/loginscreen.scss';
